* {
    padding: 0;
    margin: 0;
}
  
.table .header .title, .table .footer .title, .table .content .main .two, .table .content .main .main_text .three, .table .content .main .main_text .five, .table .content .four {
    display: table;
}
  
.table .header .title div, .table .footer .title div, .table .content .main .two div,.table .content .main .main_text .three div, .table .content .four div {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}
.table .content .main .main_text .three .three2 div {
    text-align: center;
}
  
.table .header {
    background-color: #a7b5da;
    width: 100%;
    height: 166px;
    font-size: 120%;
}

.table .footer {
    background-color:#a7b5da;
    width: 80%;
    height: 167px;
    font-size: 120%;
}
  
.table .header .white_title, .table .footer .white_title {
    float: right;
    color: white;
    font-size: 1.5em;
    margin: 30px 10px 57px 10px;
    height: 53px;
}
  
.table .header .title, .table .footer .title {
    float: left;
    height: 53px;
    width: 200px;
    margin: 53px 10px;
    background-color: white;
    color: black;
}

.table .footer .title div {
    text-align: center;
}
  
p {
    padding-left: 10px;
    padding-right: 10px;
}
  
ul {
    padding-left: 10px;
    padding-right: 10px;
    padding-inline-start: 0%;
}
  
a {
    color: black;
    text-decoration: none;
}

h3 {
    padding-right: 10px;
    font-size: 125%;
}

h2 {
    padding-right: 25px;
    font-size: 125%;
}
  
.table .content {
    height: 636px;
    background-color: #ffccb3;
}
  
.table .content .main {
    float: left;
    width: 80%;
    height: 636px;
}
  
.table .content .main .two {
    float: left;
    width: 25%;
    height: 636px;
    background-color: #ffccb3;
}
  
.table .content .main .main_text {
    float: right;
    width: 75%;
}
  
.table .content .main .main_text .five {
    width: 100%;
    height: 53px;
    background-color: #ccffb3;
}

.table .content .main .main_text div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
  
.table .content .main .main_text .three {
    width: 100%;
    height: 583px;
    background-color: white;
}

.table .content .four {
    float: right;
    width: 20%;
    height: 803px;
    background-color: #ffccb3;
}
  
.table .header .title div {
    text-align: right;
}

.table .content .main .main_text .three div {
    text-align: center;
    height: 50%;
}

.table .content .four div {
    text-align: center;
}

.table .transform-area {
    position: absolute;
    width: 10px;
    height: 10px;
    max-width: 100%;
    max-height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: rgba(24, 24, 24, 0.8);
}